<br><h1 class="text-center">Edit password</h1><br>

<% if session[:logged_in] %>
    <%= form_with url: edit_password_path, data: {turbo: false} do |form| %>

        <div class="input-group flex-nowrap">
            <%= form.label :'New password', { class:"input-group-text"} %>
            <%= form.password_field :new_password , { class: "form-control" }%>
        </div>

        <div class="input-group flex-nowrap">
            <%= form.label :'Confirm password', { class:"input-group-text"} %>
            <%= form.password_field :confirm_password , { class: "form-control" }%>
        </div>


        <br>
        <div class="d-grid gap-2">
            <%= link_to "Back to Main page", main_path , :class => "btn btn-secondary" %>
            <%= link_to "Back to Profile page", profile_path , :class => "btn btn-secondary" %>
            <%= form.submit  class:"btn btn-success" %>
        </div>
    <% end %>

<%else%>
    <p> You can edit your profile when you login </p>
    <%= link_to "Go to login page", login_path , :class => "btn btn-primary" %>
<%end%>
