<h1>Edit password</h1>
<% if session[:logged_in] %>
    <%= form_with url: edit_password_path, data: {turbo: false} do |f| %>
        <%= f.label :'New password :' %>
        <%= f.password_field :new_password %>
        <br/>
        <%= f.label :'Confirm password :' %>
        <%= f.password_field :confirm_password %>
        <br/><br/>
        <%= f.submit :OK %>
    <% end %>
    <%= link_to "back", profile_path %>
<%else%>
    <p> You can edit your profile when you login </p>
    <%= link_to "Go to login page", login_path %>
<%end%>