<h1>Login</h1>
<%= form_with url: main_create_path, data: {turbo: false} do |f| %>
  <div class="input-group flex-nowrap">
      <%= f.label :email , { class:"input-group-text"}%>
      <%= f.text_field :email, { class: "form-control" } %>
  </div>
  <div class="input-group flex-nowrap">
      <%= f.label :password , { class: "input-group-text"}%>
      <%= f.password_field :password, { class: "form-control"} %>
      <%= f.submit :OK , :class => "btn btn-primary"%>
  </div>
<% end %>
