<div id="<%= dom_id inventory %>">
  <p>
    <strong>User:</strong>
    <%= inventory.user_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= inventory.item_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= inventory.price %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= inventory.qty %>
  </p>

</div>
