<table id="purchase_history_table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Seller Name</th>
            <th>Timestamp</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
        <% @inventories.each do |inventory| %>
            <% @item_id = inventory.item_id %>
            <% @item = Item.find(@item_id) %>
            <% @market = Market.where(item_id: @item_id).first %>
            <tr>
                <td><%= @item.name %></td>
                <td><%= @item.category %></td>
                <td><%= inventory.price %></td>
                <td><%= inventory.qty %></td>
                <td><%= User.find(@market.user_id).name %></td>
                <td><%= inventory.timestamp %></td>
                <% if(@item.picture.attached?) %>
                    <td><%= image_tag @item.picture.variant(:thumb75) %></td>
                <% else %>
                    <td>This item has no picture</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#purchase_history_table').DataTable({
            "columnDefs": [
                { "targets": [6], "searchable": false },
                { "targets": [6], "orderable": false }
            ],
        })
    });
</script>

<div class="text-center">
<%= button_to "Back to Main page", main_path, method: :get , :class => "btn btn-secondary"%>
</div>