<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Enable:</strong>
    <%= item.enable %>
  </p>

  <% if(item.picture.attached?) %>
    <p>
      <strong>Picture:</strong>
      <%= image_tag item.picture.variant(:thumb75) %>
    </p>
  <% end %>

</div>
