<div id="<%= dom_id market %>">
  <p>
    <strong>User:</strong>
    <%= market.user_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= market.item_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= market.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= market.stock %>
  </p>

</div>
