<h1 class="text-center">Add new Item </h1><br>
<%= form_with url: '/added_item_from_inventory', method: :post do |form| %>
    <div class="input-group flex-nowrap">
        <%= form.label :name, { class:"input-group-text"} %>
        <%= form.text_field :name , { class: "form-control" }%>
    </div>

    <div class="input-group flex-nowrap">
        <%= form.label :category, { class:"input-group-text"} %>
        <%= form.text_field :category , { class: "form-control" }%>
    </div>

    <div class="input-group flex-nowrap">
        <%= form.label :price, { class:"input-group-text"} %>
        <%= form.number_field :price , { class: "form-control" }%>
    </div>

    <div class="input-group flex-nowrap">
        <%= form.label :stock, { class:"input-group-text"} %>
        <%= form.number_field :stock , { class: "form-control" }%>
    </div>
    <br>
    <div class: "form-check form-switch">
        <%= form.label :enable, { class: "h5 form-check-label"}%>
        <%= form.check_box :enable , { class: "h5 form-check-input"} %>
    </div>
    <br>
    <div>
        <%= form.label :picture , { class: "h5" }%>
        <%= form.file_field :picture , { class: "form-control" }%>
    </div>
    <br>
    <div class="d-grid gap-2">
        <%= link_to "Back", '/my_inventory' , :class => "btn btn-secondary col" %>
        <%= form.submit  class:"btn btn-success" %>
    </div>
<%end%>
