<table id="my_market_table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Seller Name</th>
                <th>Picture</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.category %></td>
                    <td><%= Market.where(item_id: item.id).first.price %></td>
                    <td><%= Market.where(item_id: item.id).first.stock %></td>
                    <td><%= User.find(Market.where(item_id: item.id).first.user_id).name %></td>
                    <% if(item.picture.attached?) %>
                        <td><%= image_tag item.picture.variant(:thumb75) %></td>
                    <% else %>
                        <td>This item has no picture</td>
                    <% end %>
                    <td>
                        <%= form_with url: "/", method: :get do |form| %>
                            <%= form.number_field :qty, placeholder: "quantity" %>
                            <%= form.submit "BUY" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>